<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta http-equiv="Cache-control" content="public">
        <meta http-equiv="Cache-Control" content="max-age=31536000"/>
        <meta http-equiv="Cache-Control" content="Expires=<%= new Date(Date.now() + 31536000).toUTCString() %>"/>

        <title>Simple Rest Api</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            .starter-template {
                padding: 10rem 1.5rem;
                text-align: center;
            }
        </style>
    </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Simple Canvas App</a>
    </nav>

    <main role="main" class="container">
        <h1>A Simple Canvas App for Testing</h1><br/><br/><br/>
        <span>User : <%= context.user.firstName %></span><br/>

        <% if (locals.context.environment.record.attributes) { %>
          <span>Object : <%= context.environment.record.attributes.type  %></span><br/>
        <% } %>

        <% if (locals.context.environment.record.Id) { %>
          <span>Id : <%= context.environment.record.Id %></span><br/>
        <% } %>
        <br/><br/>
        <button name="fireRequest" onclick="getSignedRequest(event);">Get Refreshed Signed Request </button>

    </main>
    <script type="text/javascript" src="https://login.salesforce.com/canvas/sdk/js/45.0/canvas-all.js"></script>
    <script type="text/javascript">
      (function(){
        console.log(Sfdc);
      })();

      function getSignedRequest(event){
        event.preventDefault();
        Sfdc.canvas.client.refreshSignedRequest(function(data) {
          if (data.status === 200) {
              var signedRequest =  data.payload.response;
              var part = signedRequest.split('.')[1];
              var obj = JSON.parse(Sfdc.canvas.decode(part));
              console.log(signedRequest);
              console.log(part);
              console.log(obj);
          }
        });
      }
    </script>
  </body>
</html>